<div class="thumbnail">
  <img src="http://placehold.it/320x150">
  <div class="caption">
    <div class="form-group">
      <label class="control-label pull-left">Id:</label>
      <span class="control-label pull-right"><a [routerLink]="['/customer', customer.id]">{{ customer.id }}</a></span>
    </div>
    <br/>
    <div class="form-group">
      <label class="control-label pull-left">Firstname:</label>
      <span class="control-label pull-right">{{ customer.firstName }}</span>
    </div>
    <br/>
    <div class="form-group">
      <label class="control-label  pull-left">Lastname:</label>
      <span class="control-label pull-right">{{ customer.lastName }}</span>
    </div>
  </div>
</div>
