<p-carousel [value]="customers" numVisible="2">
  <template let-customer pTemplate="item">
    <div class="ui-grid ui-grid-responsive">
      <div class="ui-grid-row">
        <div class="ui-grid-col-6"><strong>Title</strong></div>
        <div class="ui-grid-col-6">{{customer.title}}</div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-6"><strong>First name</strong></div>
        <div class="ui-grid-col-6">{{customer.firstName}}</div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-6"><strong>Last name</strong></div>
        <div class="ui-grid-col-6">{{customer.lastName}}</div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-6"><strong>Occupation</strong></div>
        <div class="ui-grid-col-6">{{customer.description}}</div>
      </div>
    </div>
  </template>
</p-carousel>
